@mixin btn {
  background-color: $detail-color;
  color: $font-color;
  padding: 2rem;
  border: none;
  border-radius: 2rem;
}

@mixin burger {
  border: 2px solid $detail-color;
  width: 2rem;
  margin-bottom: 7px;
  border-radius: 1rem;
}
